<mat-card class="container">
  <div class="box1">My Orders</div>
  <div class="box2">
    <button mat-button color="primary" (click)="shop()">Continue Shopping</button>
  </div>
</mat-card>
<mat-divider></mat-divider>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" class="scrollbar" id="style-4">

    <ng-container matColumnDef="order">
      <mat-header-cell *matHeaderCellDef> Orders </mat-header-cell>
      <mat-cell *matCellDef="let order">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{order.ordnumber}}
            </mat-panel-title>
            <mat-panel-description class="container">
              <div class="box1">{{order.custname}}</div>
              <div class="box2">{{order.price}}</div>
              <div class="box3">{{order.status}}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-order-item></app-order-item>
        </mat-expansion-panel>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>