.full-width {
  width: 100%;
}

.container {
  display: flex;
}

.box1 {
  flex: 1;
  order: 1;
  padding: 10px;
}

.box2 {
  flex: 3;
  order: 2;
  padding: 10px;
}

.box3 {
  flex: 1;
  order: 3;
  padding: 10px;
}

.icon {
  padding: 5px;
}
