<div style="height: 50%;">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
<div class="container1">
  <div class="box1">
    <mat-card>
      <p>
        The Food Magic opened their first restaurant in year 2000 and set out to serve only the highest quality food, fulfill their
        Guest's every request and make sure everyone who walked in the door felt like family. Since then we have expanded
        our guest dining area to a little larger size and earned a reputation of 1000 of customers a day.
      </p>
    </mat-card>
  </div>
  <div class="box2">
    <mat-card>
      <mat-chip-list class="container2">
        <mat-chip *ngFor="let type of types">
          {{type.title}}
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
  <div class="box3">
    <mat-card class="container2">
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Search Meal" [(ngModel)]="value" />
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <div class="container2">
      <div *ngFor="let meal of meals">
        <app-food-card [price]="meal.price" [title]="meal.name" [mid]="meal.mid" [quantity]="meal.quantity">
        </app-food-card>
      </div>
    </div>
  </div>
  <button mat-button (click)="tofoods()">
    <i class="fas fa-utensils fa-lg"></i>
    More Meals
  </button>
  <div class="box4">
    <mat-card>
      <p>
        Promotions
      </p>
    </mat-card>
  </div>
</div>