.container1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box1 {
  height: 30%;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.box2 {
  height: 10%;
  width: 100%;
  justify-content: center;
}

.box3 {
  height: 30%;
  width: 100%;
  justify-content: center;
}

.box4 {
  height: 30%;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.container2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icon {
  padding: 5px;
}

.ngx-gallery {
  height: 50%;
}

.example-form-field {
  width: 80%;
}
