<div style="position:fixed;top:0;left:0;right:0;bottom:0;">

  <mat-sidenav-container fullscreen>
    <mat-sidenav mode="over" #sidenav style="min-width:220px;">
      <mat-list>
        <mat-list-item [routerLink]="['/restaurant']" (click)="sidenav.close()">
          <i class="fas fa-shopping-bag icon"></i>Shop</mat-list-item>
        <mat-list-item [routerLink]="['/meals']" (click)="sidenav.close()">
          <i class="fas fa-utensils icon"></i>Find You're Meal</mat-list-item>
        <mat-list-item *ngIf="chekadmin()" [routerLink]="['/inventory']" (click)="sidenav.close()">
          <i class="fas fa-boxes icon"></i> Inventory</mat-list-item>
        <mat-list-item [routerLink]="['/userProfile']" (click)="sidenav.close()">
          <i class="fas fa-user-circle icon"></i> Profile</mat-list-item>
        <mat-list-item [routerLink]="['/cart']" (click)="sidenav.close()">
          <i class="fas fa-cart-plus icon"></i>My Cart</mat-list-item>
        <mat-list-item *ngIf="chekadmin()" [routerLink]="['/order']" (click)="sidenav.close()">
          <i class="fas fa-clipboard-list icon"></i>My Orders</mat-list-item>
        <mat-list-item *ngIf="chekadmin()" [routerLink]="['/delivery']" (click)="sidenav.close()">
          <i class="fas fa-truck icon"></i>Deliveries</mat-list-item>
        <mat-list-item>
        <mat-list-item *ngIf="chekadmin()" [routerLink]="['/employee']" (click)="sidenav.close()">
          <i class="fas fa-truck icon"></i>Employee</mat-list-item>
        <mat-list-item>
          <button mat-button (click)="logout()">
            <mat-icon>launch</mat-icon>Logout</button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-toolbar color="primary" style="min-height:64px;">
      <span>
        <button style="background-color:transparent;border-style:none;cursor:pointer;" (click)="sidenav.open()">
          <i class="material-icons toolbar-link-icon" style="color:white;">menu</i>
        </button>
      </span>
      <span>Food Magic</span>
    </mat-toolbar>
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    <div class="inner-sidenav-content scrollbar" id="style-4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

</div>