<mat-card class="example-card">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <a mat-button color="primary" class="food-card-button">{{title}}</a>
  </mat-card-content>
  <mat-card-actions>
    <div class="button-row">
      <button mat-button class="food-card-button">LIKE</button>
      <button mat-button class="food-card-button">
        <mat-icon aria-label="add to shopping cart">add_shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>