.containerb {
  display: flex;
}

.box6 {
  flex: 3;
  order: 1;
}

.box7 {
  flex: 1;
  order: 2;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.box1 {
  flex: 1;
  order: 1;
}

.box2 {
  flex: 1;
  order: 2;
}

.box2 {
  flex: 1;
  order: 3;
}

.example-container > * {
  width: 100%;
}
