<h2 mat-dialog-title class="example-container">Food Item</h2>
<mat-dialog-content>
    <div >
        <mat-form-field>
          <input matInput placeholder="Meal Name" [(ngModel)]="mealname" name="mealname">
        </mat-form-field>
        <mat-form-field>
                <mat-select placeholder="Type" [(ngModel)]="type">
                  <mat-option value="Rice" [value]="Rice">Rice</mat-option>
                  <mat-option value="Shorties" [value]="Shorties">Shorties</mat-option>
                  <mat-option value="Drink" [value]="Drink">Drink</mat-option>
                  <mat-option value="Dessert" [value]="Dessert">Dessert</mat-option>
                </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Price" [(ngModel)]="price" name="price">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Description" [(ngModel)]="description" name="description">
          </mat-form-field>
          <mat-form-field> 
              <input matInput placeholder="Quantity" [(ngModel)]="quantity" name="quantity">
          </mat-form-field>
      </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="addFoodItem()">Add Food</button>
  <button mat-raised-button (click)="closeDialog()">cancel</button>
</mat-dialog-actions>