<mat-card class="container">
  <div class="box1">Inventory</div>
  <div class="box2">
    <button mat-button color="primary" (click)="shop()">Continue Shopping</button>
  </div>
</mat-card>

<div class="container">
  <div class="box1">
    <mat-card class="example-card">
      <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1200px-Good_Food_Display_-_NCI_Visuals_Online.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <a mat-button color="primary" class="inventory-card-button" (click)="getfoods()">Food Items</a>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-row">
          <button mat-button class="food-card-button" (click)="openFoodDialog()">Add Food Items</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="box2">
    <mat-card class="example-card">
      <img mat-card-image src="http://2.bp.blogspot.com/-BWEWT5d-sZM/Tb0qAnRxIEI/AAAAAAAAAWU/kzBHkdFQ6O0/s1600/800bikes.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <a mat-button color="primary" class="inventory-card-button" (click)="getVehicles()">Vehicles</a>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-row">
          <button mat-button class="food-card-button" (click)="openVehicleDialog()">Add Vehicles</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<mat-accordion>
  <mat-expansion-panel [expanded]="foodopen === 1" (opened)="setFoodStep(1)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Food Items
      </mat-panel-title>
      <mat-panel-description>
        Data related to Food
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-food-table id="fooditems"></app-food-table>
  </mat-expansion-panel>
</mat-accordion>


<mat-accordion>
  <mat-expansion-panel [expanded]="vehicleopen === 1" (opened)="setVehicleStep(1)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Vehicles
      </mat-panel-title>
      <mat-panel-description>
        Data related to Delivery Vehicles
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-vehicle-table id="vehicles"></app-vehicle-table>
  </mat-expansion-panel>
</mat-accordion>