<div>
<!-- <mat-grid-list cols="1" >
    <mat-grid-tile><ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery></mat-grid-tile>
</mat-grid-list> -->


<mat-chip-list>
  <mat-chip
    *ngFor="let type of types">
    {{type.title}}
  </mat-chip>
</mat-chip-list>


<mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile
      *ngFor="let meal of meals">
        <app-food-card
        [title]="meal.text">
        </app-food-card>
        
    </mat-grid-tile>
</mat-grid-list>



</div>